
body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    background: #36393e;
    color: white;
}

#avatar {
    height: 6%;
    width: 6%;
    margin: 3px;
    border-radius: 50%;
}

#name {
    font-size: 250%;
    font-weight: bold;
}