
#centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#title {
    font-size: 32px;
    text-align: center;
}

#centertext {
    font-size: 12px;
    text-align: center;
}