body {
    padding-bottom: 20%;
    font-family: sans-serif;
}

#centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#title {
    font-size: 250%;
    text-align: center;
}

#basetext {
    font-size: 150%;
    text-align: center;
}

#leftcenter {
    margin: auto;
    width: 640px; 
    padding: 50px; 
}