body {
    padding-bottom: 20%;
    font-family: sans-serif;
}

#centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#title {
    font-size: 250%;
    text-align: center;
}

#basetext {
    font-size: 150%;
    text-align: center;
    margin: auto;
    padding: 50px;
    padding-right: 20%;
    padding-left: 20%; 
}

#leftcenter {
    margin: auto;
    width: 640px; 
    padding-right: 20%;
    padding-left: 20%; 
}

#discord-logo {
    display: inline;
    height: fit-content;
    width: fit-content;
}

#btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30%;
    padding-left: 30%; 
}